body {
    width: 40ch;
    margin: 5px 20px;
}

header {
    text-align: center;
}

label {
    width: 13ch;
    text-align: right;
    font-weight: bold;
}

input {
    display: inline;
}

#input-notes {
    height: 120px;
}

#editing-id {
    color: red;
    font-weight: bold;
}

#buttons {
    /* width: 100%; */
    text-align: center;
}

#add-entry {
    display: inline-block;
}

.editing-id {
    width: 13ch;
    text-align: right;
    font-weight: bold;
}

#editing-id {
    display: none;
}

#update-entry {
    display: none;
}

#delete-entry {
    display: none;
}

#cancel-update {
    display: none;
}

#last-statistics {
    font-style: italic;
}

.line-item {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#copyright {
    width: 100%;
    text-align: right;
    position: fixed;
    bottom: 0;
    padding: 10px;
}

@-ms-viewport {
    width: device-width;
}

@media only screen and (max-width: 900px) {
    #copyright {
        font-size: x-small;
        padding: 5px;
    }
}

@media only screen and (max-width: 800px) {
    /*really small margins for better layout on mobile in portrait*/
}

@media only screen and (max-width: 600px) {
    /*really small margins for better layout on mobile in portrait*/
}