body {
    margin: 5px 20px;
}

header {
    text-align: center;
    background-color: gold;
}

form {
    background-color: lightskyblue;
    padding: 10px 0;
}

label {
    width: 13ch;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
    padding: 0 5px;
}

.label-notes {
    text-align: left;
}

.editing-id {
    text-align: left;
}

input {
    display: inline;
}

#input-notes {
    width: 94%;
    margin-left: 3%;
}

#editing-id {
    width: 100%;
    text-align: center;
    color: red;
    font-weight: bold;
}

#buttons {
    text-align: center;
    margin: 5px;
}

#add-entry {
    display: inline-block;
}

.editing-id {
    width: 13ch;
    text-align: right;
    font-weight: bold;
}

#editing-id {
    display: none;
}

#update-entry {
    display: none;
}

#delete-entry {
    display: none;
}

#cancel-update {
    display: none;
}

#last-statistics {
    font-style: italic;
    text-align: center;
    margin: 10px 0;
    background-color: lightgreen;
}

hr {
    margin: 5px;
    border-top: 1px solid black;
    /* padding: 0; */
}

.line-item {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 1px solid black;
    background-color: aliceblue;
    padding: 5px;
}

.date {
    background-color: darkslategray;
    color: white;
}

.notes {
    width: 98%;
    margin: 0 auto;
    border: 1px dashed black;
}

#copyright {
    width: 100%;
    text-align: right;
    position: fixed;
    bottom: 0;
    padding: 10px;
    right: 10px;
}

@-ms-viewport {
    width: device-width;
}

@media only screen and (max-width: 900px) {
    h3 {
        font-size: x-large;
    }
    #copyright {
        font-size: x-small;
        padding: 5px;
    }
    label {
        /* text-align: left; */
        margin: 5px 0px 0px 0px;
    }
    /* .label-notes {
        text-align: left;
    }
    .editing-id {
        text-align: left;
    } */
}

@media only screen and (max-width: 800px) {
    /*really small margins for better layout on mobile in portrait*/
}

@media only screen and (max-width: 600px) {
    /*really small margins for better layout on mobile in portrait*/
}